* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #fefffe;
    --bg-light: #fafbfb;
    --bg-top: #019689;
    --bg-bottom: #d9dad5;
    --bg-footer: #f2efea;
    --app-left-bg-header: #eaeaea;
    --app-left-icons: #858585;
    --app-border: #bcbcbc;
    --app-left-alert: #8edbfd;
    --message-sent: #d5f9ba;
}

img {
    max-width: 100%;
}

.bg_top {
    height: 15vh;
    background-color: var(--bg-top);
}

.bg_bottom {
    height: 85vh;
    background-color: var(--bg-bottom);
}

#app {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-4 {
    border-right: 1px solid var(--app-border);
}

.col-8 {
    border-left: 1px solid var(--app-border);
}

header {
    height: 70px;
    background-color: var(--app-left-bg-header);
}

main {
    height: calc(90vh - 140px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

footer {
    height: 70px;
    background-color: var(--bg-footer);
}

.my_profile_name img,
.chat_active img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.my_profile_icons i,
.chat_icons i,
.chat .last_message,
.chat .time,
.chat_active .last_access,
footer i {
    color: var(--app-left-icons);
}

.message_alert {
    height: 70px;
    background-color: var(--app-left-alert);
}

.message_alert .icon {
    height: 50px;
    aspect-ratio: 1/1;
    background-color: var(--light);
    color: var(--app-left-alert);
    border-radius: 50%;
}

.search {
    height: 50px;
    background-color: var(--bg-light);
    color: var(--app-left-icons);
}

.search .icon,
.search input,
footer input {
    background-color: var(--light);
    border: 1px solid var(--app-border);
    border-radius: 5px;
}

.chat_left {
    height: calc(90vh - 190px);
    background-color: var(--light);
    overflow-y: scroll;
}

.chat img {
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.chat .last_message,
.chat .time,
.chat_active .last_access {
    font-size: 14px;
}

.chat.active {
    background-color: var(--app-left-bg-header);
}

.chat:hover {
    background-color: var(--app-left-bg-header);
    cursor: pointer;
    transition: 0.3s;
}

.message {
    min-height: 50px;
    width: 45%;
    border-radius: 10px;
}

.message .align-self-end {
    color: var(--app-left-icons);
    font-size: 14px;
}

.message.sent {
    background-color: var(--message-sent);
}

.message.received {
    background-color: var(--light);
}