* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #fefffe;
    --bg-light: #fafbfb;
    --bg-top: #019689;
    --bg-bottom: #d9dad5;
    --app-left-bg-header: #eaeaea;
    --app-left-icons: #b6b9bb;
    --app-left-alert: #8edbfd;
}

img {
    max-width: 100%;
}

.bg_top {
    height: 15vh;
    background-color: var(--bg-top);
}

.bg_bottom {
    height: 85vh;
    background-color: var(--bg-bottom);
}

#app {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 90vh;
}

header {
    height: 70px;
    background-color: var(--app-left-bg-header);
}

.my_profile_name img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.my_profile_icons i {
    color: var(--app-left-icons);
}

.message_alert {
    background-color: var(--app-left-alert);
}

.message_alert .icon {
    height: 50px;
    aspect-ratio: 1/1;
    background-color: var(--light);
    color: var(--app-left-alert);
    border-radius: 50%;
}

.search {
    background-color: var(--bg-light);
    color: var(--app-left-icons);
}

.search .icon,
.search input {
    background-color: var(--light);
    border: 1px solid var(--app-left-icons);
    border-radius: 5px;
}